* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }

html {
  font-size: 1em;
  line-height: 1.4;
  height: 100%; }

::-moz-selection, ::selection {
  background: #9AA5AE;
  text-shadow: none; }

body {
  display: flex;
  font-family: Roboto, Noto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 320px;
  height: 490px;
  background: #FCFCFC; }

svg {
  font-family: Roboto, Noto, sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset; }

section {
  width: 100%; }

audio, canvas, iframe, img, svg, video {
  vertical-align: top; }

input, textarea {
  user-select: text; }

input {
  font-family: 'Roboto, Noto', sans-serif; }

textarea {
  resize: none; }

select:invalid {
  color: #A9A9A9; }

b {
  font-weight: 700; }

a {
  color: #329ED9;
  text-decoration: none; }

#app {
  display: flex;
  flex: 1 1 auto; }

.superslow-appear {
  opacity: 0.01; }

.superslow-appear.superslow-appear-active {
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.superslow-enter {
  opacity: 0.01; }

.superslow-enter.superslow-enter-active {
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.superslow-leave {
  opacity: 1; }

.superslow-leave.superslow-leave-active {
  opacity: 0.01;
  transition: opacity 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }


@keyframes lds-heart {
  0% { transform: scale(0.83); }
  6% { transform: scale(0.87); }
  12% { transform: scale(0.83); }
  18% { transform: scale(0.81); }
  24% { transform: scale(1.0); }
  32% { transform: scale(0.60); }
  40% { transform: scale(0.83); }
  42% { transform: scale(0.83); }
  46% { transform: scale(0.85); }
  54% { transform: scale(0.83); }
  100% { transform: scale(0.83); }}

.lds-heart {
  position: relative;
  animation: lds-heart 1s cubic-bezier(0.215, 0.61, 0.355, 1); }