<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="utf-8">
        <title>لایکبات | سرویس افزایش لایک و فالوور واقعی!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="popup.css">
        <!-- <script src="popup.js"></script> -->
        <link rel="stylesheet" href="css/uikit-rtl.min.css" />
    </head>
    <body>
        <div class="uk-container uk-width-medium">
            <header>
                <div class="header">
                    <div class="uk-margin uk-margin-top uk-margin-small-bottom">
                        <img class="uk-margin-remove-bottom" src="img/likebot.svg" alt="" width="80" height="120">
                    </div>
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <div id="background_status" class="">پیام سیستم</div>
                    </div>
                </div>
            </header>
            <div class="uk-container">

                <div id="login_area" class="login_area">
                    <var>urls.base</var>
                    <form action="{{urls.base}}api/v1/token/create/withCode" class="ajax-form">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                                <input value="214238" class="uk-input uk-form-width-large" type="number" name="code" id="code"  placeholder="کد را وارد کنید">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"  id="">ورود</button>
                            <a target="_blank" href="{{urls.base}}login" class="uk-button uk-button-link">دریافت کد</a>
                        </div>
                    </form>
                </div>

                <div id="logged_in_area">
                    <div>
                        <div class="uk-container">
                            <p>آخرین پست های لایک شده</p>
                        </div>
                    </div>
                    <hr class="uk-column-divider">
                    <div class="uk-container">
                        <ul class="uk-thumbnav tumb" uk-margin>
                            <li class="uk-active"><a href="#"><img src="https://getuikit.com/docs/images/photo.jpg" class="img-tumb"  alt=""></a></li>
                            <li><a href="#"><img src="https://getuikit.com/docs/images/dark.jpg" class="img-tumb" alt=""></a></li>
                            <li><a href="#"><img src="https://getuikit.com/docs/images/light.jpg"  class="img-tumb" alt=""></a></li>
                        </ul>
                        <ul class="uk-thumbnav tumb" uk-margin>
                            <li class="uk-active"><a href="#"><img src="https://getuikit.com/docs/images/photo.jpg"  class="img-tumb" alt=""></a></li>
                            <li><a href="#"><img src="https://getuikit.com/docs/images/dark.jpg"  class="img-tumb" alt=""></a></li>
                            <li><a href="#"><img src="https://getuikit.com/docs/images/light.jpg"  class="img-tumb" alt=""></a></li>
                        </ul>
                        <ul class="uk-thumbnav tumb" uk-margin>
                            <li class="uk-active"><a href="#"><img src="https://getuikit.com/docs/images/dark.jpg" class="img-tumb" alt=""></a></li>
                            <li><a href="#"><img src="https://getuikit.com/docs/images/light.jpg"  class="img-tumb" alt=""></a></li>
                            <li><a href="#"><img src="https://getuikit.com/docs/images/photo.jpg"  class="img-tumb" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"  id="get_access_token_button">عکس های بیشتر</button>
                    </div>
                    <div>
                        <div id="logged_in" class="uk-container logged-in">
                            <p>لایکبات به جای شما شروع به <span class="like-icon blink"> ❤ </span>میکنه .میتونید بعد از ورود به سیستم این پنجره رو با خیال راحت ببندید.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uk-column-divider">
            <div class="footer">
                <span><a href="https://www.likebot.ir/" class="p-footer">www.likebot.ir</a></span>
            </div>
        </div>
    </body>
    <script src="../assets/js/jquery-3.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="popup.js"></script>
    <script src="ajax-form.js"></script>
</html>